//! **************************************************************************
// Written by: Map P.58f on Fri Dec 18 12:04:24 2020
//! **************************************************************************

SCHEMATIC START;
COMP "ps2c" LOCATE = SITE "B1" LEVEL 1;
COMP "ps2d" LOCATE = SITE "C3" LEVEL 1;
COMP "clock" LOCATE = SITE "M6" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "hsync" LOCATE = SITE "J14" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
COMP "vsync" LOCATE = SITE "K13" LEVEL 1;
COMP "outblue<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "outblue<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "G12" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "outred<0>" LOCATE = SITE "C14" LEVEL 1;
COMP "outred<1>" LOCATE = SITE "D13" LEVEL 1;
COMP "outred<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "outgreen<0>" LOCATE = SITE "F14" LEVEL 1;
COMP "outgreen<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "outgreen<2>" LOCATE = SITE "G14" LEVEL 1;
TIMEGRP ClockManager_unit_CLK2X_BUF = BEL "ball_reg_0" BEL "ball_reg_1" BEL
        "rgb_reg_0" BEL "rgb_reg_1" BEL "rgb_reg_2" BEL
        "timer_unit/timer_reg_0" BEL "timer_unit/timer_reg_1" BEL
        "timer_unit/timer_reg_2" BEL "timer_unit/timer_reg_3" BEL
        "timer_unit/timer_reg_4" BEL "timer_unit/timer_reg_5" BEL
        "timer_unit/timer_reg_6" BEL "state_reg_FSM_FFd1" BEL
        "state_reg_FSM_FFd2" BEL "vga_sync_unit/v_count_reg_9" BEL
        "vga_sync_unit/v_count_reg_8" BEL "vga_sync_unit/v_count_reg_7" BEL
        "vga_sync_unit/v_count_reg_6" BEL "vga_sync_unit/v_count_reg_5" BEL
        "vga_sync_unit/v_count_reg_4" BEL "vga_sync_unit/v_count_reg_3" BEL
        "vga_sync_unit/v_count_reg_2" BEL "vga_sync_unit/v_count_reg_1" BEL
        "vga_sync_unit/v_count_reg_0" BEL "vga_sync_unit/h_count_reg_9" BEL
        "vga_sync_unit/h_count_reg_8" BEL "vga_sync_unit/h_count_reg_7" BEL
        "vga_sync_unit/h_count_reg_6" BEL "vga_sync_unit/h_count_reg_5" BEL
        "vga_sync_unit/h_count_reg_4" BEL "vga_sync_unit/h_count_reg_3" BEL
        "vga_sync_unit/h_count_reg_2" BEL "vga_sync_unit/h_count_reg_1" BEL
        "vga_sync_unit/h_count_reg_0" BEL "vga_sync_unit/h_sync_reg" BEL
        "vga_sync_unit/mod2_reg" BEL "vga_sync_unit/v_sync_reg" BEL
        "counter_unit/dig1_reg_3" BEL "counter_unit/dig1_reg_2" BEL
        "counter_unit/dig1_reg_1" BEL "counter_unit/dig1_reg_0" BEL
        "counter_unit/dig0_reg_3" BEL "counter_unit/dig0_reg_2" BEL
        "counter_unit/dig0_reg_1" BEL "counter_unit/dig0_reg_0" BEL
        "graph_unit/ball_vy_reg_2" BEL "graph_unit/ball_vy_reg_1" BEL
        "graph_unit/ball_vy_reg_3" BEL "graph_unit/ball_vx_reg_2" BEL
        "graph_unit/ball_vx_reg_1" BEL "graph_unit/ball_vx_reg_3" BEL
        "graph_unit/bar_y_reg_9" BEL "graph_unit/bar_y_reg_8" BEL
        "graph_unit/bar_y_reg_7" BEL "graph_unit/bar_y_reg_6" BEL
        "graph_unit/bar_y_reg_5" BEL "graph_unit/bar_y_reg_4" BEL
        "graph_unit/bar_y_reg_3" BEL "graph_unit/bar_y_reg_2" BEL
        "graph_unit/bar_y_reg_1" BEL "graph_unit/bar_y_reg_0" BEL
        "graph_unit/ball_y_reg_9" BEL "graph_unit/ball_y_reg_8" BEL
        "graph_unit/ball_y_reg_7" BEL "graph_unit/ball_y_reg_6" BEL
        "graph_unit/ball_y_reg_5" BEL "graph_unit/ball_y_reg_4" BEL
        "graph_unit/ball_y_reg_3" BEL "graph_unit/ball_y_reg_2" BEL
        "graph_unit/ball_y_reg_1" BEL "graph_unit/ball_y_reg_0" BEL
        "graph_unit/ball_x_reg_9" BEL "graph_unit/ball_x_reg_8" BEL
        "graph_unit/ball_x_reg_7" BEL "graph_unit/ball_x_reg_6" BEL
        "graph_unit/ball_x_reg_5" BEL "graph_unit/ball_x_reg_4" BEL
        "graph_unit/ball_x_reg_3" BEL "graph_unit/ball_x_reg_2" BEL
        "graph_unit/ball_x_reg_1" BEL "graph_unit/ball_x_reg_0" BEL
        "kb_code_unit/ps2_rx_unit/n_reg_0" BEL
        "kb_code_unit/ps2_rx_unit/n_reg_1" BEL
        "kb_code_unit/ps2_rx_unit/n_reg_2" BEL
        "kb_code_unit/ps2_rx_unit/n_reg_3" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_0" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_1" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_2" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_3" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_4" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_5" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_6" BEL
        "kb_code_unit/ps2_rx_unit/filter_reg_7" BEL
        "kb_code_unit/ps2_rx_unit/f_ps2c_reg" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_1" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_2" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_3" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_4" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_5" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_6" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_7" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_8" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_9" BEL
        "kb_code_unit/ps2_rx_unit/b_reg_10" BEL
        "kb_code_unit/ps2_rx_unit/state_reg_FSM_FFd1" BEL
        "kb_code_unit/ps2_rx_unit/state_reg_FSM_FFd2" BEL
        "kb_code_unit/state_reg_0" BEL "graph_unit/player1_x_reg_9" BEL
        "graph_unit/player1_x_reg_8" BEL "graph_unit/player1_x_reg_7" BEL
        "graph_unit/player1_x_reg_6" BEL "graph_unit/player1_x_reg_5" BEL
        "graph_unit/player1_x_reg_4" BEL "graph_unit/player1_x_reg_3" BEL
        "graph_unit/player1_x_reg_2" BEL "graph_unit/player1_x_reg_1" BEL
        "graph_unit/player1_x_reg_0" BEL "graph_unit/player2_y_reg_9" BEL
        "graph_unit/player2_y_reg_8" BEL "graph_unit/player2_y_reg_7" BEL
        "graph_unit/player2_y_reg_6" BEL "graph_unit/player2_y_reg_5" BEL
        "graph_unit/player2_y_reg_4" BEL "graph_unit/player2_y_reg_3" BEL
        "graph_unit/player2_y_reg_2" BEL "graph_unit/player2_y_reg_1" BEL
        "graph_unit/player2_y_reg_0" BEL "graph_unit/player1_y_reg_9" BEL
        "graph_unit/player1_y_reg_8" BEL "graph_unit/player1_y_reg_7" BEL
        "graph_unit/player1_y_reg_6" BEL "graph_unit/player1_y_reg_5" BEL
        "graph_unit/player1_y_reg_4" BEL "graph_unit/player1_y_reg_3" BEL
        "graph_unit/player1_y_reg_2" BEL "graph_unit/player1_y_reg_1" BEL
        "graph_unit/player1_y_reg_0" BEL "graph_unit/player2_x_reg_9" BEL
        "graph_unit/player2_x_reg_8" BEL "graph_unit/player2_x_reg_7" BEL
        "graph_unit/player2_x_reg_6" BEL "graph_unit/player2_x_reg_5" BEL
        "graph_unit/player2_x_reg_4" BEL "graph_unit/player2_x_reg_3" BEL
        "graph_unit/player2_x_reg_2" BEL "graph_unit/player2_x_reg_1" BEL
        "graph_unit/player2_x_reg_0" BEL "vga_sync_unit/v_count_reg_3_1" BEL
        "vga_sync_unit/v_count_reg_2_1" BEL "vga_sync_unit/v_count_reg_0_1"
        BEL "vga_sync_unit/v_count_reg_1_1" BEL "graph_unit/player2_y_reg_0_1"
        BEL "vga_sync_unit/v_count_reg_1_2" BEL
        "vga_sync_unit/v_count_reg_0_2" BEL
        "text_unit/font_unit/Mrom_data_rom0000.A" BEL
        "ClockManager_unit/CLK2X_BUFG_INST.GCLKMUX" BEL
        "ClockManager_unit/CLK2X_BUFG_INST";
PIN ClockManager_unit/DCM_SP_INST_pins<3> = BEL
        "ClockManager_unit/DCM_SP_INST" PINNAME CLKIN;
TIMEGRP clock = PIN "ClockManager_unit/DCM_SP_INST_pins<3>";
TS_clock = PERIOD TIMEGRP "clock" 20 ns HIGH 50%;
TS_ClockManager_unit_CLK2X_BUF = PERIOD TIMEGRP "ClockManager_unit_CLK2X_BUF"
        TS_clock / 2 HIGH 50%;
SCHEMATIC END;

